{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
 CHED Number – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is the CHED number?
      </h1>

<p>This is the Common Health Entry Document for live animals. You can add multiple CHED numbers.</p>
      <form class="form" action="ched-number-multiple" method="post">

       <div id="passport-issued-hint" class="govuk-hint">
      Example: 490045 667863
    </div>
        <div class="govuk-form-group">
          {{ govukInput({
            name: 'Ched-Number',
            classes: "govuk-input--width-10"
        }) }}
</div>
    </div>
  </div>

    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add another CHED number
  </button>
  <br>
  <a href="vehicle-registration-number.html" button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue</a>
  </button>
</div>
</form>
{% endblock %}
