{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="breaks-select-shed" method="post">

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What is the reason for this closure?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  classes: "govuk-input--width-10",
  id: "break-note",
  name: "BreakNote",
  value: data['BreakNote']
}) }}

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

      </form>

    </div>
  </div>

{% endblock %}
