{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="breaks-check-answers" method="post">

{{ govukRadios({
  name: "BreakRecurrence",
  value: data['BreakRecurrence'],
  fieldset: {
    legend: {
      text: "How often does it repeat?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Daily",
      text: "Daily"
    },
    {
      value: "Weekly on Tuesdays",
      text: "Weekly on Tuesdays"
    },
    {
      value: "Monthly on the 25th",
      text: "Monthly on the 25th"
    },
    {
      value: "Annually on 25 December",
      text: "Annually on 25 December"
    },
    {
      value: "Does not repeat",
      text: "Does not repeat"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
