{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="breaks-date" method="post">

{{ govukRadios({
  name: "ShedToCloseForBreak",
  value: data['ShedToCloseForBreak'],
  fieldset: {
    legend: {
      text: "Which shed is the closure in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Shed C",
      text: "C"
    },
    {
      value: "Shed D",
      text: "D"
    },
    {
      value: "Shed E",
      text: "E"
    },
    {
      value: "All sheds",
      text: "All"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
