{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Change how long an inspection lasts
      </h1>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Marshalling"
  },
  classes: "govuk-input--width-5",
  id: "minutes",
  name: "minutes",
  suffix: {
    text: "mins"
  },
  spellcheck: false
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Set up"
  },
  classes: "govuk-input--width-5",
  id: "minutes",
  name: "minutes",
  suffix: {
    text: "mins"
  },
  spellcheck: false
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Inspection"
  },
  classes: "govuk-input--width-5",
  id: "minutes",
  name: "minutes",
  suffix: {
    text: "mins"
  },
  spellcheck: false
}) }}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Clean-up time"
  },
  classes: "govuk-input--width-5",
  id: "minutes",
  name: "minutes",
  suffix: {
    text: "mins"
  },
  spellcheck: false
}) }}

        <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Total inspection time
    </label>
<p>240 minutes</p>
</div>

 <a href="confirm-inspection-length" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Save and continue
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

      </form>

    </div>
  </div>

{% endblock %}
