{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How long do Captive Birds take to inspect?
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Marshalling time
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-3" id="event-name" name="eventName" type="text" for="width-3">
</div>

        <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Set up time
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-3" id="event-name" name="eventName" type="text">
</div>

        <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Inspection time
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-3" id="event-name" name="eventName" type="text">
</div>

        <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Clean up time
    </label>
  </h1>
  <input class="govuk-input govuk-input--width-3" id="event-name" name="eventName" type="text">
</div>

        <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Total inspection length
    </label>
<p>240 minutes</p>
</div>

 <a href="edit-inspection-lengths" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Save and continue
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

      </form>

    </div>
  </div>

{% endblock %}
