{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Notification of frequent booker
  </h1>
  <p class="govuk-body-l">
  
<p>Dear staff member,</p>

<p>Someone has booked more than 10 inspections in one day. This could mean they are misusing the service</p>


<div class="govuk-inset-text">
<p>Booking contact name: Faiza Arnold</p>

<p>Booking contact email: faiza.arnold@move-animals.co.uk</p>
</div>

<a href="all-inspections-dashboard.html" button type="submit" class="govuk-button" data-module="govuk-button">
  View all inspections by this person</a>
</button>

<p>From the Department for Environmental and Rural Affairs</p>



{% endblock %}
