{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Notification of mixed load
  </h1>
  <p class="govuk-body-l">
  
<p>Dear staff member,</p>

<p>An inspection due to arrive today is carrying a mixed load. </p>


<div class="govuk-inset-text">
<p>Reference number:5060 AULD</p>

<p>Summary: 11 dogs, 2 cats</p>

<p>Arrival time: midday</p>
</div>

<a href="all-inspections-dashboard.html" button type="submit" class="govuk-button" data-module="govuk-button">
  View inspection details</a>
</button>

<p>From the Department for Environmental and Rural Affairs</p>



{% endblock %}
