{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Email subject line: One organisation has made 10+ bookings
  </h1>
  <p class="govuk-body-l">
    Alerting you that this could be a rogue booking
  </p>


<a href="all-inspections-dashboard.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Review issue</a>
</button>


{% endblock %}
