{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Email subject line: Inspection 5060 AULD is delayed 
  </h1>
  <p class="govuk-body-l">
  
<p>Dear staff member,</p>

<p>An inspection due to arrive today is delayed.</p>


<div class="govuk-inset-text">
<b>Reference number:</b> 5060 AULD 

<b>Summary:</b> 11 dogs 

<b>New arrival time:</b> 12:00pm 
</div>

<a href="www.google.com">View inspection details page </a>


From the Department for Environmental and Rural Affairs 
  </p>

<a href="all-inspections-dashboard.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Review issue</a>
</button>


{% endblock %}
