{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Inspection 5060 AULD is delayed 
  </h1>
  <p class="govuk-body-l">
  
<p>Dear staff member,</p>

<p>An inspection due to arrive today is delayed.</p>


<div class="govuk-inset-text">
<p>Reference number: 5060 AULD</p>

<p>Summary: 10 dogs, 2 cats</p>

<p>Original arrival time: 8:00am</p>

<p>New arrival time: 1:00pm</p>
</div>

<a href="today-table-overview.html" button type="submit" class="govuk-button" data-module="govuk-button">
  View today's inspections</a>
</button>

<p>From the Department for Environmental and Rural Affairs</p>



{% endblock %}
