{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
 Holiday {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Add a bank holiday closure</h1>

      <p>Pause inspections for an entire day, from midnight to 11:59pm.
</p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Upcoming bank holiday closures</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Recurrance</th>
      <th scope="col" class="govuk-table__header">Cancel</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">24th December 2024</th>
      <td class="govuk-table__cell">Recurs every year</td>
            <td class="govuk-table__cell"><a href='#'>Cancel</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25th December 2024</th>
      <td class="govuk-table__cell">Recurs every year</td>
            <td class="govuk-table__cell"><a href='#'>Cancel</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">26th December 2024</th>
      <td class="govuk-table__cell">Recurs every year</td>
            <td class="govuk-table__cell"><a href='#'>Cancel</a></td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5th May 2024</th>
      <td class="govuk-table__cell">Recurs every year</td>
            <td class="govuk-table__cell"><a href='#'>Cancel</a></td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">26th May 2024</th>
      <td class="govuk-table__cell">Does not recur</td>
            <td class="govuk-table__cell"><a href='#'>Cancel</a></td>
    </tr>
  </tbody>
</table>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Add another date",
  href: "new-holiday"
}) }}

{% endblock %}