{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Change site availability</h1>

<p>Turn site availability off to stop new inspection bookings. To cancel existing inspections, go to the <a href="all-inspections-table-overview">All inspections page.</a></p>


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "NewBookingsAbility",
  fieldset: {
    legend: {
      text: "Site availability",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "On",
      text: "On"
    },
    {
      value: "Off",
      text: "Off"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<a href="confirm-no-new-bookings" button type="submit" class="govuk-button" data-module="govuk-button">
  Change site availability</a>
</button>

<p><a href="super-admin-controls">Cancel</a></p>

  </div>
</div>


{% endblock %}
