{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Pause new bookings</h1>

<p>Select Pause to stop all new inspection bookings. Select Unpause to resume. To cancel existing inspections, go to <a href="all-inspections-table-overview">All inspections</a>.</p>


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "NewBookingsAbility",
  fieldset: {
    legend: {
      text: "Pause or unpause new inspection bookings",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Pause",
      text: "Pause"
    },
    {
      value: "Unpause",
      text: "Unpause"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<a href="confirm-no-new-bookings" button type="submit" class="govuk-button" data-module="govuk-button">
  Pause new bookings</a>
</button>

<p><a href="super-admin-controls">Cancel</a></p>

  </div>
</div>


{% endblock %}
