{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

<h1 class="govuk-heading-l">Close a shed temporarily</h1>

<h1 class="govuk-heading-m">Which shed would you like to close?</h1>
  
{{ govukRadios({
  name: "ShedToClose",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Shed C",
      text: "Shed C"
    },
    {
      value: "Shed D",
      text: "Shed D"
    },
    {
      value: "Shed E",
      text: "Shed E"
    },
        {
      value: "All sheds",
      text: "All sheds"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue",
          href: "shed-pause-date-select"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
