{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form method="post" action="shed-opening-availability-singular" novalidate>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Check your answers before saving this change</h1>

        <h2 class="govuk-heading-m">Shed C opening times</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Monday
            </dt>
            <dd class="govuk-summary-list__value">
              7am to 6pm
            </dd>
</div> </dl>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save change
</button>

  <p><a href="close-bays-sheds">Cancel</a></p>

 </form>

    </div>
  </div>

{% endblock %}
