{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Change Shed C Monday opening times</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "shed-c-monday-day-availability",
  value: data['shed-c-monday-day-availability'],
  fieldset: {
    legend: {
      text: "Monday",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },

  items: [
    {
      text: "Open",
      value: "Open"
    },
    {
      text: "Closed",
      value: "Closed"
    }
  ]
}) }}

{{ govukDateInput({
      id: "open-close-times",
      namePrefix: "open-close-times",
      items: [
        {label: "Opening time", name: "opening-time", value: data['shed-c-monday-start-1'], classes:"govuk-input--width-4"},
        {label: "Closing time", name: "closing-time", value: data['shed-c-monday-end-1'], classes:"govuk-input--width-4"}
      ]
    }) }}

    <p><a href='#'>Add more hours</a></p>

    </div>
  </div>

  <a href="shed-opening-availability-singular" button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Save changes</a>
</button>

  <p><a href="close-bays-sheds">Cancel</a></p>

{% endblock %}
