{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Change inspection parameters
      </h1>

      <p>
        Make changes to inspection lengths, opening times, site availability, and more.
      </p>

            <h2 class="govuk-heading-m">
        Inspection and stand-still length
      </h1>

 <p class="govuk-body">
<a href="edit-inspection-lengths-new" class="govuk-link">Change inspection lengths</a>
</p>
 <p class="govuk-body">
<a href="edit-inspection-breaks" class="govuk-link">Change biosecurity stand-stills</a>
</p>


<h2 class="govuk-heading-m">
        Opening times
      </h1>

       <p class="govuk-body">
<a href="shed-opening-availability" class="govuk-link">Change opening times</a>
</p>

           <h2 class="govuk-heading-m">
        Site reporting
      </h1>

 <p class="govuk-body">
<a href="#" class="govuk-link">Export a report</a>
</p>
    </div>
  </div>

           <h2 class="govuk-heading-m">
        Site availability
      </h1>

 <p class="govuk-body">
<a href="no-new-bookings" class="govuk-link">Change site availability</a>
</p>

           <h2 class="govuk-heading-m">
        Concurrent inspections
      </h1>

 <p class="govuk-body">
<a href="#" class="govuk-link">Change concurrent inspection capacity</a>
</p>


{% endblock %}
