{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Today',
      href: 'today-table-overview',
      active: true
    },
    {
      text: 'Tomorrow',
      href: 'tomorrow-table-overview'
    },
    {
      text: 'All inspections',
      href: 'all-inspections-table-overview'
    }
  ]
}) }}

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Today's inspections</h1>

<div class=search-box>
<div class="govuk-form-group">
<form action="#" method="post">

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Search by ref number, animal type, or CHED</h2>
<input class="govuk-input" id="event-name" name="eventName" type="text">
</div>

<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Filter by shed</h2>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published" selected>All sheds</option>
    <option value="Shed C">Shed C</option>
    <option value="Shed D">Shed D</option>
    <option value="Shed E">Shed E</option>
  </select>
</div>
</div>
</div>

<h2 class="govuk-heading-m">Filter by date</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
        <h3 class="govuk-heading-s">From</h3>
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
 </div>
  </fieldset>
</div>
  </div>

  <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">To</h3>
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
           </div>
              </div>
              </div>
              </div>

      <div class="govuk-grid-column-full">
 <button type="submit" class="govuk-button" data-module="govuk-button">
  Apply search and filter
</button>
      </div>
    </div>
  </div>
  </form>


<p>11 results for ‘dog’ in ‘Shed C’ between 11.04.2024 and 11.06.204</p>

<table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" id="select-all"></th>
      <th class="govuk-table__header" scope="col">Reference number</th>
      <th class="govuk-table__header" scope="col">Time</th>
      <th class="govuk-table__header" scope="col">Shed</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Summary</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header" scope="col">VRN</th>
      <th class="govuk-table__header" scope="col">CHED</th>
      <th class="govuk-table__header" scope="col">Organisation</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row govuk-table__row--selected">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
          <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
            <span class="govuk-visually-hidden">Select 5060 AULD</span>
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">5060 AULD</td>
      <td class="govuk-table__cell">8 - 8.30pm</td>
      <td class="govuk-table__cell">C</td>
      <td class="govuk-table__cell">11 Dogs, 2 Cats</td>
      <td class="govuk-table__cell">Pending</td>
      <td class="govuk-table__cell">2-EHY-849</td>
      <td class="govuk-table__cell">490045 667863</td>
      <td class="govuk-table__cell">EuroAnimal Transit</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="mountain-denali" value="denali">
          <label class="govuk-label govuk-checkboxes__label" for="mountain-denali">
            <span class="govuk-visually-hidden">Select Denali</span>
          </label>
        </div>
      </td>
      </td>
      <td class="govuk-table__cell">5060 AULD</td>
      <td class="govuk-table__cell">8 - 8.30pm</td>
      <td class="govuk-table__cell">C</td>
      <td class="govuk-table__cell">11 Dogs, 2 Cats</td>
      <td class="govuk-table__cell">Pending</td>
      <td class="govuk-table__cell">2-EHY-849</td>
      <td class="govuk-table__cell">490045 667863</td>
      <td class="govuk-table__cell">EuroAnimal Transit</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="mountain-elbrus" value="elbrus">
          <label class="govuk-label govuk-checkboxes__label" for="mountain-elbrus">
            <span class="govuk-visually-hidden">Select Elbrus</span>
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">5060 AULD</td>
      <td class="govuk-table__cell">8 - 8.30pm</td>
      <td class="govuk-table__cell">C</td>
      <td class="govuk-table__cell">11 Dogs, 2 Cats</td>
      <td class="govuk-table__cell">Pending</td>
      <td class="govuk-table__cell">2-EHY-849</td>
      <td class="govuk-table__cell">490045 667863</td>
      <td class="govuk-table__cell">EuroAnimal Transit</td>
    </tr>
  </tbody>
</table>

{% endblock %}
