{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Today',
      href: 'today-dashboard'
    },
    {
      text: 'Tomorrow',
      href: 'tomorrow-dashboard',
      active: true
    },
    {
      text: 'All inspections',
      href: 'all-inspections-dashboard'
    }
  ]
}) }}

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Tomorrow's inspections</h1>

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<div class="admin-box">
<h2 class="govuk-heading-m">Outstanding inspections</h2>
<h1 class="govuk-heading-l">36</h1>
<a href="tomorrow-table-overview">View all outstanding inspections</a>
</div>
</div>

<div class="govuk-grid-column-one-third">
<div class="admin-box">
<h2 class="govuk-heading-m">Shed C Small Animals Inspections</h2>
<h1 class="govuk-heading-l">10</h1>
<a href="tomorrow-table-overview">View all Shed C inspections</a>
</div>
</div>

<div class="govuk-grid-column-one-third">
<div class="admin-box">
<h2 class="govuk-heading-m">Shed D Equine Inspections</h2>
<h1 class="govuk-heading-l">6</h1>
<a href="tomorrow-table-overview">View all Shed D inspections</a>
</div>
</div>

<div class="govuk-grid-column-one-third">
<div class="admin-box">
<h2 class="govuk-heading-m">Shed E Livestock inspections</h2>
<h1 class="govuk-heading-l">8</h1>
<a href="tomorrow-table-overview">View all Shed E inspections</a>
</div>
</div>

<a href="https://moving-animals-to-gb-f6ffdaf23605.herokuapp.com/declaration.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Book a new inspection
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a><br>

  <h2 class="govuk-heading-m">Changing how live animals are inspected</h2>

  <p>As a manager in your Border Control Facility, you can click here to configure parameters around inspections.</p>

  <a href="super-admin-controls.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Configure inspection parameters
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a><br>

{% endblock %}
