{% extends "layouts/main.html" %}

{% block pageTitle %}
  Cancel inspection – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Selected inspections have been cancelled
      </h1>

<p>We have sent an automated cancellation message to all booking contacts via email and phone.</p>

<a href="all-inspections-dashboard.html" button type="submit" class="govuk-button " data-module="govuk-button">
  Done
</a></button>

</div>
{% endblock %}