{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review availability of bays and sheds
      </h1>
<p>
  This shows which sheds are available for people to create new inspection bookings. To cancel bookings which have already been created, go to <a href="all-inspections-table-overview">All inspections.</a>
</p>



<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Shed C - small animals</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Bay</th>
      <th scope="col" class="govuk-table__header">Availability</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">2</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">3</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">4</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">6</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">7</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">8</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
  </tbody>
</table>

<a href="close-shed-c" button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Change Shed C availability </a>
</button>

      <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Shed D - equine</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Bay</th>
      <th scope="col" class="govuk-table__header">Availability</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">1</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">2</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
  </tbody>
</table>

<a href="close-shed-c" button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Change Shed D availability </a>
</button>

      <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Shed E -  farmed livestock</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Bay</th>
      <th scope="col" class="govuk-table__header">Availability</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Cattle section</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Pig section</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Sheep section</th>
      <td class="govuk-table__cell">Available</td>
    </tr>
  </tbody>
</table>

<a href="close-shed-c" button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Change Shed E availability </a>
</button>

    </div>
  </div>
{% endblock %}
