{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
  Inspection cancelled {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your inspection is cancelled
      </h1>

            <div class="govuk-inset-text">
  <p>Inspection reference: QE9 O06CB ADO</p>
  <p>Date of inspection: Tuesday 30th January 9:00 - 12:00</p>
  <p>Animal species: Cattle</p>
  <p>Number of animals: 36</p>
</div>

<a href="location.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Book new inspection
</button></a>

<a href="upcoming-bookings-cancelled.html" button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  See your upcoming inspections
</button></a>

</div>
{% endblock %}