{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
  Vehicle type {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="animal-selection" method="post" novalidate>
{{ govukRadios({
  name: "VehicleLoad",
  value: data['VehicleLoad'],
  fieldset: {
    legend: {
      text: "How will your vehicle unload animals?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Unload from rear",
      text: "Unload from rear"
    },
    {
      value: "Unload from side",
      text: "Unload from side"
    },
    {
      value: "Unload from either side or rear",
      text: "Unload from either side or rear"
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
    </div>
  </div>

{% endblock %}
