{% extends "layouts/main.html" %}

{% block pageTitle %}
  Manage your account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Manage your account
      </h1>

      <p>
        Email address</p>
            <p>
        Mobile phone number</p>
            <p>
        Organisation</p>

    </div>
  </div>

{% endblock %}
