{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Today's inspections</h1>

<div class="admin-box">
  <h1 class="govuk-panel__title">
    20
  </h1>
  <div class="govuk-panel__body">
    <a href="admin-outstanding-inspections.html">View all outstanding inspections</a>
  </div>
</div>


<div class="govuk-grid-column-one-third">
<div class="admin-box">
  <h1 class="govuk-panel__title">
    20
  </h1>
  <div class="govuk-panel__body">
    <a href="admin-outstanding-inspections.html">View all outstanding inspections</a>
  </div>
</div>
</div>
</div>

{% endblock %}
