{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How many animals are you transporting?
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>
          This can be an estimate. You will not be able to edit this number later.
        </p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Number of animals
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
  </div>

<a href="arrival-time.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue</a>
</button>

      </form>

    </div>
  </div>

{% endblock %}
