{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What animal species are you transporting?
      </h1>
    </legend>

           <p>You can add multiple animal species. </p>

              <input type="hidden" name="q" id="q-hidden" class="js-commodity-picker-target" autocomplete="off" />
              <input type="hidden" name="resource_id" id="resource-id-hidden" value="" class="js-commodity-picker-resource-id" autocomplete="off" />

      <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Animal species
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
  </div></fieldset></div>

  <a href=# button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add another species </a>
</button>

<p>
    <a href="animal-number.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue</a>
</button>
</p>

      </form>

    </div>
  </div>

{% endblock %}
