{% extends "layouts/main.html" %}

{% block pageTitle %}
  Arrival time – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user Test</li>
    {% if data.build == "development" %}
    {% else %}
    {% set _accountLink = _accountLink or "../../account?returnURL=application" %}
    <li class="login-nav__list-item-new"><a href="upcoming-bookings" class="govuk-link login-nav__link-new "govuk-link--no-visited-state profile">All bookings</a></li>
    <li class="login-nav__list-item-new"><a href='putmanageaccounthere' class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    {% endif %}
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What is your estimated date of arrival?
      </h1>
    </legend>
       <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 03 2007
    </div>
    <p>
      If your arrival date changes, you can amend your booking later on.
    </p>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

      </form>

<a href="booking.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Continue </a>
</button>

    </div>
  </div>

{% endblock %}
