{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check that these details are correct
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "What type of vehicle will you use for this booking?"
            },
            value: {
              text: "Class CE: heavy goods vehicle over 7.5 tonnes towing a trailer "
            },
            actions: {
              items: [
                {
                  href: "vehicle-type.html",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What animal species are you transporting?"
            },
            value: {
              text: "Cattle"
            },
            actions: {
              items: [
                {
                  href: "animal-selection",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "How many animals are you transporting"
            },
            value: {
              text: "36"
            },
            actions: {
              items: [
                {
                  href: "animal-selection",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is your inspection date and time?"
            },
            value: {
              text: "30 January 2024, 12:00"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Confirm your booking
      </h2>

      <p>
        By confirming your booking, your time slot will be reserved. You will need to add details about your booking 24 hours before.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Confirm the booking"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
