{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user Test</li>
    {% if data.build == "development" %}
    {% else %}
    {% set _accountLink = _accountLink or "../../account?returnURL=application" %}
    <li class="login-nav__list-item-new"><a href="upcoming-bookings" class="govuk-link login-nav__link-new "govuk-link--no-visited-state profile">All bookings</a></li>
    <li class="login-nav__list-item-new"><a href='putmanageaccounthere' class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    {% endif %}
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before booking your inspection
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Border control post"
            },
            value: {
              text: data['WhichBorderControlFacility']
            },
            actions: {
              items: [
                {
                  href: "location",
                  text: "",
                  visuallyHiddenText: "Border control post"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Vehicle type"
            },
            value: {
              text: data['VehicleType']
            },
            actions: {
              items: [
                {
                  href: "vehicle-type",
                  text: "Change",
                  visuallyHiddenText: "Type of vehicle"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Vehicle unloading"
            },
            value: {
              text: data['VehicleLoad']
            },
            actions: {
              items: [
                {
                  href: "vehicle-type-side-loader",
                  text: "Change",
                  visuallyHiddenText: "Vehicle unloading"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Animal species "
            },
            value: {
              text: data['animal-species']
            },
            actions: {
              items: [
                {
                  href: "animal-selection",
                  text: "Change",
                  visuallyHiddenText: "Animal species"
                }
              ]
            }
          },
           {
            key: {
              text: "Number of animals"
            },
            value: {
              text: data['animal-number']
            },
            actions: {
              items: [
                {
                  href: "animal-number",
                  text: "Change",
                  visuallyHiddenText: "Number of animals"
                }
              ]
            }
          },
           {
            key: {
              text: "Time and date"
            },
            value: {
              text: "30 January 2024, 11:30am"
            },
            actions: {
              items: [
                {
                  href: "booking",
                  text: "Change",
                  visuallyHiddenText: "Time and date"
                }
              ]
            }
          },
           {
            key: {
              text: "CHED Number"
            },
            value: {
              text: "CHEDA.GB.2024.1984055"
            },
            actions: {
              items: [
                {
                  href: "booking",
                  text: "Change",
                  visuallyHiddenText: "Time and date of your inspection"
                }
              ]
            }
          },
          {
            key: {
              text: "Vehicle Reference Number (VRN)"
            },
            value: {
              text: "WF10 3YG"
            },
            actions: {
              items: [
                {
                  href: "booking",
                  text: "Change",
                  visuallyHiddenText: "Time and date of your inspection"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now book your inspection
      </h2>

      <p>
        By booking your inspection, you are confirming that you will not make more bookings than you need. You understand that doing so may result in penalty.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and book"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
