{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your CHED number?
      </h1>

<p>This is the Common Health Entry Document for live animals. You can add multiple CHED-A numbers.</p>
      <form class="form" action="/path/of/next/page" method="post">

       <div id="passport-issued-hint" class="govuk-hint">
      Example: 490045 667863
    </div>

        <div class="govuk-form-group">
          {{ govukInput({
            name: 'Ched-Number',
            value: data['Ched-Number']
        }) }}
</div>

        <div class="govuk-form-group">
  <input class="govuk-input" id="event-name" name="eventName" type="text">
</div>

  

      </form>

    </div>
  </div>

    <a href="ched-number-multiple.html" button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add another CHED-A</a>
  </button>

<br>

  <a href="vehicle-registration-number.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Continue</a>
</button>
</div>
{% endblock %}