{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user Test</li>
    {% if data.build == "development" %}
    {% else %}
    {% set _accountLink = _accountLink or "../../account?returnURL=application" %}
    <li class="login-nav__list-item-new"><a href=putmanageaccounthere" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    {% endif %}
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your CHED-A number?
      </h1>

<p>This is the Common Health Entry Document for live animals. You can add multiple CHED numbers.</p>
      <form class="form" action="ched-number-multiple" method="post">

       <div id="passport-issued-hint" class="govuk-hint">
      Example: 490045 667863
    </div>
        <div class="govuk-form-group">
          {{ govukInput({
            name: 'Ched-Number',
            classes: "govuk-input--width-10"
        }) }}
</div>
    </div>
  </div>

    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add another CHED
  </button>
  <br>
  <a href="vehicle-registration-number.html" button type="submit" class="govuk-button" data-module="govuk-button">
    Continue</a>
  </button>
</div>
</form>
{% endblock %}
