{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPanel({
        titleText: "Copy details have been added",
        html: "Your reference number<br><strong>QE9 O06CB ADO</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        Inspection details
      </h2>

<div class="govuk-inset-text">
  <p><b>Reference number:</b> QE9 O06CB ADO<p>
  <p><b>Inspection date:</b> Tuesday 30th January</p>
  <p><b>Inspection time:</b> 9:00-12:00</p>
  <p><b>Vehicle type:</b> Class C1: large van up to 7.5 tonnes</p>
  <p><b>Animal species:</b> Cattle</p>
  <p><b>Number of animals:</b> 7</p>
</div>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        The vehicle should arrive at the following location:
      </p>

  <p>Sevington Border Control Post</p>
  <p>Ashford</p>
  <p>TN25 6GE</p>

    <h3 class="govuk-heading-s">If your journey changes</h3>
<p>You can cancel the inspection at any time and start again.</p>
    
    </div>
{% endblock %}
