{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your details have been added",
        html: "Your reference number<br><strong>QE9 O06CB ADO</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        The vehicle should arrive at the following location:
      </p>

      <p>Sevington border control post</p>
      <p>Ashford TN25 6GE</p>

<h3 class="govuk-heading-s">If the vehicle is delayed</h3>
<p>No action is required. We track delays on our system.</p>

<h3 class="govuk-heading-s">If your plans change</h3>
<p>You can cancel the inspection at any time.</p>

    </div>
  </div>

{% endblock %}
