{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your inspection is booked",
        html: "Your reference number<br><strong>QE9 O06CB ADO</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        Add your Vehicle Reference Number and CHED-A number
      </h2>
<p>
    We need these details at least 24 hours before your arrival.
 </p>

<p>Your VRN will be used to recognise your vehicle and allow it into the Border Control Facility. Your CHED will be used to connect your inspection with the rest of your import documents. </p>

<p>We will email you 24 hours before your arrival time reminding you to add these details.</p>

<a href="vehicle-registration-number-flow1.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Add details now </a>
</button>


<!-- <<p class="govuk-body">We will ask for the:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>CHED-A numbers</li>
  <li>Vehicle registration number</li>
</ul>-->

      <h2 class="govuk-heading-m">
        Edit or cancel your booking
      </h2>

<p>You can change your arrival date or time anytime. You can also cancel your booking and start again.</p>

<!--<<p class="govuk-body">
<a href="email.html" class="govuk-link">Amend your booking</a>
</p>-->

<br><br>
<p class="govuk-body">
<a href="email.html" class="govuk-link">Next step in prototype</a>
</p>

    </div>
  </div>

{% endblock %}
