{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user Test</li>
    {% if data.build == "development" %}
    {% else %}
    {% set _accountLink = _accountLink or "../../account?returnURL=application" %}
    <li class="login-nav__list-item-new"><a href=putmanageaccounthere" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    {% endif %}
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{{ govukPanel({
        titleText: "Inspection details have been added",
        html: "Your reference number<br><strong>QE9 O06CB ADO</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        Inspection details
      </h2>

<div class="govuk-inset-text">
  <p><b>Reference number:</b> QE9 O06CB ADO<p>
  <p><b>Inspection date:</b> Tuesday, 30 January</p>
  <p><b>Inspection time:</b> 9:00am-12:00pm</p>
  <p><b>Vehicle type:</b> Class C1: large van up to 7.5 tonnes</p>
  <p><b>Animal species:</b> Cattle</p>
  <p><b>Number of animals:</b> 7</p>
</div>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        The vehicle should arrive at the following location:
      </p>

  <p>Sevington Border Control Post</p>
  <p>Ashford</p>
  <p>TN25 6GE</p>

    <h3 class="govuk-heading-s">If your journey changes</h3>
<p>You can cancel the inspection at any time and start again.</p>

</div>
    </div>
  </main>
</div>
    
    </div>
{% endblock %}
