{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your inspection is booked",
        html: "Your reference number<br><strong>QE9 O06CB ADO</strong>"
      }) }}


   {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Copy reference number",
  classes: "govuk-button--secondary"
}) }}

   {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Print inspection confirmation",
  classes: "govuk-button--secondary"
}) }}

      <h2 class="govuk-heading-m">
        Your inspection details
      </h2>

{{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Border control post"
            },
            value: {
              text: data['WhichBorderControlFacility']
            }
          }
          ,
          {
            key: {
              text: "Vehicle type"
            },
            value: {
              text: data['VehicleType']
            }
          }
          ,
          {
            key: {
              text: "Vehicle unloading type"
            },
            value: {
              text: data['VehicleLoad']
            }
          }
          ,
          {
            key: {
              text: "Animal species "
            },
            value: {
              text: data['animal-species']
            }
          },
           {
            key: {
              text: "Number of animals"
            },
            value: {
              text: data['animal-number']
            }
          },
           {
            key: {
              text: "Time and date"
            },
            value: {
              text: "30 January 2024, 11:30am"
            }
          },
           {
            key: {
              text: "CHED number"
            },
            value: {
              text: "CHEDA.GB.2024.1984055"
            }
          },
          {
            key: {
              text: "Vehicle Registration Number (VRN)"
            },
            value: {
              text: "WF10 3YG"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>
 <p class="govuk-body"> You will need your reference number again, so keep it safe. We will ask for your reference number when you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>enter the border control post</li>
  <li>contact us</li>
</ul>
 </p>
      <h2 class="govuk-heading-m">
        Add CHED numbers and Vehicle Registration Number (VRN)
      </h2>
<p>
    If you have not added these details yet, you must add them at least 24 hours before your arrival. We will email you 24 hours before your arrival to remind you.
 </p>

<p>We will use the CHED number to connect your inspection with the rest of your import documents. We will use the VRN to recognise your vehicle and allow it into the border control post.  </p>

      <h2 class="govuk-heading-m">
        Change or cancel your booking
      </h2>
<p>You can change your arrival date or time anytime. You can also cancel your booking and start again.</p>

    </div>
  </div>

{% endblock %}
