{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your inspection is booked",
        html: "Your reference number<br><strong>QE9 O06CB ADO</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>
 <p class="govuk-body"> You will need your reference number again, so keep it safe. We will ask for your reference number when you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>enter the border control post</li>
  <li>contact us</li>
</ul>
 </p>
      <h2 class="govuk-heading-m">
        If you have not added the CHED and VRN, add it later
      </h2>
<p>
    We need these details at least 24 hours before your arrival. We will email you 24 hours before your arrival time reminding you to add these details.
 </p>

<p>We will use the VRN to recognise your vehicle and allow it into the border control post. We will use the CHED number to connect your inspection with the rest of your import documents. </p>

      <h2 class="govuk-heading-m">
        Change or cancel your booking
      </h2>
<p>You can change your arrival date or time anytime. You can also cancel your booking and start again.</p>

    </div>
  </div>

{% endblock %}
