{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How many consignments are on the vehicle
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>
          This can be an estimate. You will not be able to edit this number later.
        </p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals" name="howManyAnimals" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals">
          1
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-2" name="howManyAnimals" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-2">
          2
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="owManyAnimals-3">
          3
        </label>
      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-3">
          4
        </label>
      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-3">
          5
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-3">
          6
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-3">
          7
        </label>
      </div>
             <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-3">
          8
        </label>
      </div>
             <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-3">
          9
        </label>
      </div>
             <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="howManyAnimals-3" name="howManyAnimals" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="howManyAnimals-3">
          10
        </label>
      </div>
        </label>
      </div>
    </div>
  </fieldset>
</div>
</form>
</div>
<a href="booking.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue</a>
</button>

      </form>

    </div>
  </div>

{% endblock %}
