{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
  Confirmation {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your delay has been logged
      </h1>

 <p>We have notified the staff at the border control post about your delay.</p>
      <p>
        If you have not started your journey, do not travel until you have contacted Sevington Border Control Facility on 020 8981 5550.
      </p>

      <p>If you have already started your journey, please continue your journey to Sevington Border Control Facility. </p>


      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
