{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
     Email: Add the VRN and the CHED
  </h1>
  <p>
    Dear David Jones,</p>

<p>You have an upcoming live animal inspection at Sevington Inland Border Facility. Please add the vehicle registration number (VRN) and CHED for this inspection. This will help us plan for your arrival.</p>

<p>QE9 O06CB ADO</p>

<p>Tuesday, 30 January, 9:00am-12:00pm</p>

<p>Animal species: Cattle</p>

<p>Number of animals: 36</p>

<p><a href="http://localhost:3000/ched-number">Add the VRN and the CHED for this inspection</a></p>

<p>Change your inspection</p>

<p>You can change your arrival time or date anytime. You can also cancel your inspection and start again.</p>

<p>Thank you,</p>

<p>Department for Environment, Food and Rural Affairs
  </p>

{% endblock %}
