{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Inspection details
      </h1>

 {{ data | dump }}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Border Control Facility that you will report to"
            },
            value: {
              text: data['WhichBorderControlFacility']
            },
            actions: {
              items: [
                {
                  href: "location",
                  text: "Change",
                  visuallyHiddenText: "Border Control Facility that you will report to"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Type of vehicle you will use"
            },
            value: {
              text: data['VehicleType']
            },
            actions: {
              items: [
                {
                  href: "vehicle-type",
                  text: "Change",
                  visuallyHiddenText: "Type of vehicle you will use"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Animal species you are transporting"
            },
            value: {
              text: data['animal-species']
            },
            actions: {
              items: [
                {
                  href: "animal-selection",
                  text: "Change",
                  visuallyHiddenText: "Animal species you are transporting"
                }
              ]
            }
          },
           {
            key: {
              text: "Number of animals you are transporting"
            },
            value: {
              text: data['animal-number']
            },
            actions: {
              items: [
                {
                  href: "animal-number",
                  text: "Change",
                  visuallyHiddenText: "Number of animals you are transporting"
                }
              ]
            }
          },
           {
            key: {
              text: "Time and date of your inspection"
            },
            value: {
              text: "Tuesday 30th January 2024, 12.00"
            },
            actions: {
              items: [
                {
                  href: "booking",
                  text: "Change",
                  visuallyHiddenText: "Time and date of your inspection"
                }
              ]
            }
          }
        ]
      }) }}


    </div>
  </div>
{% endblock %}
