{% extends "layouts/main.html" %}

{% block pageTitle %}
  Location {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/vehicle-type" method="post" novalidate>
    

{{ govukRadios({
  name: "WhichBorderControlFacility",
  value: data['WhichBorderControlFacility'],
  fieldset: {
    legend: {
      text: "Which border control post are you going to?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Sevington, England",
      text: "Sevington, England"
    }, 
    {
      value: "Fishguard, Wales",
      text: "Fishguard, Wales"
    },
     {
      value: "Pembroke Dock, Wales",
      text: "Pembroke Dock, Wales"
    },
    {
      value: "Holyhead, Wales",
      text: "Holyhead, Wales"
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
    </div>
  </div>

{% endblock %}
