{% extends "layouts/main.html" %}

{% block pageTitle %}
  Location {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user Test</li>
    {% if data.build == "development" %}
    {% else %}
    {% set _accountLink = _accountLink or "../../account?returnURL=application" %}
    <li class="login-nav__list-item-new"><a href=putmanageaccounthere" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    {% endif %}
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/vehicle-type" method="post" novalidate>
    

{{ govukRadios({
  name: "WhichBorderControlFacility",
  value: data['WhichBorderControlFacility'],
  fieldset: {
    legend: {
      text: "Which border control post are you going to?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Sevington, England",
      text: "Sevington, England"
    },
    {
      value: "Holyhead, Wales",
      text: "Holyhead, Wales"
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
    </div>
  </div>

{% endblock %}
