{% extends "layouts/main-booker.html" %}

{% block pageTitle %}
  Delays {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your new arrival time?
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>
          This can be an estimate. If you will be more than 24 hours late, please <a href="edit-arrival-date.html"> change the arrival date of your booking.</a> </p>

        <p>
          Write the time in 24-hour time, for instance: 22:00, which is the same as 10:00pm.
        </p>

        <div class="govuk-form-group">
  <input class="govuk-input govuk-input--width-5" id="event-name" name="eventName" type="text">
</div>


   <a href="delay-confirmation.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue</a>
</button>

      </form>

    </div>
  </div>

{% endblock %}
