{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your phone number
      </h1>

<p>We will use this number to call you if there is an emergency.</p>
      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <input class="govuk-input" id="event-name" name="eventName" type="text">
</div>

  

      </form>

    </div>
  </div>

  <a href="confirmation.html" button type="submit" class="govuk-button" data-module="govuk-button">
  Confirm and book</a>
</button>

{% endblock %}
