{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user Test</li>
    {% if data.build == "development" %}
    {% else %}
    {% set _accountLink = _accountLink or "../../account?returnURL=application" %}
    <li class="login-nav__list-item-new"><a href=putmanageaccounthere" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    {% endif %}
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-l">
        Your upcoming inspections
      </h1>

<table class="govuk-table govuk-table--small-text-until-tablet">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Reference number</th>
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Time</th>
      <th scope="col" class="govuk-table__header">Vehicle type</th>
      <th scope="col" class="govuk-table__header">Animal species</th>
      <th scope="col" class="govuk-table__header">Number of animals</th>      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Edit</th>
      <th scope="col" class="govuk-table__header">Cancel</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="inspection-details.html">QE9 O06CB ADO</a></th>
      <td class="govuk-table__cell">30.01.24</td>
      <td class="govuk-table__cell">9:00-12:00</td>
      <td class="govuk-table__cell">C1: large van up to 7.5 tonnes</td>
      <td class="govuk-table__cell">Cattle</td>
      <td class="govuk-table__cell">7</td>
      <td class="govuk-table__cell">VRN and CHED missing</td>
      <td class="govuk-table__cell"><a href="inspection-details.html">Edit</a></td>
      <td class="govuk-table__cell"><a href="cancel-inspection.html">Cancel</a></td>
    </tr>
  </tbody>
</table>


<a href="location.html" button class="govuk-button" data-module="govuk-button" >

  Book another inspection
</a>
</button>

    </div>
  </div>

{% endblock %}
