{% extends "layouts/main.html" %}

{% block pageTitle %}
  Book a live animal inspection – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/animal-selection" method="post" novalidate>

  

{{ govukRadios({
  name: "VehicleType",
  value: data['VehicleType'],
  fieldset: {
    legend: {
      text: "What type of vehicle will you use?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You must book a separate inspection for each vehicle."
  },
  items: [
    {
      value: "Class B: car or small van",
      text: "Class B: car or small van"
    },
    {
      value: "Class C1: large van up to 7.5 tonnes",
      text: "Class C1: large van up to 7.5 tonnes"
    },
    {
      value: "Class C: heavy goods vehicle over 7.5 tonnes",
      text: "Class C: heavy goods vehicle over 7.5 tonnes"
    },
        {
      value: "Class CE: heavy goods vehicle over 7.5 tonnes towing a trailer",
      text: "Class CE: heavy goods vehicle over 7.5 tonnes towing a trailer"
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}
</form>
    </div>
  </div>

{% endblock %}
