{% extends "layouts/main.html" %}

{% block pageTitle %}
  Inspection details {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Prototype user Test</li>
    {% if data.build == "development" %}
    {% else %}
    {% set _accountLink = _accountLink or "../../account?returnURL=application" %}
    <li class="login-nav__list-item-new"><a href=putmanageaccounthere" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    {% endif %}
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        View inspection details
      </h1>

      <div class="govuk-inset-text">
  <p>Tuesday 30th January 9:00-12:00</p>
  <p>Animal species: Cattle</p>
  <p>Number of animals: 36</p>
</div>

    <a href="edit-inspection-details.html" button type="govuk-link" class="govuk-button" data-module="govuk-button">
  Edit inspection
</a></button>


    <a href="cancel-inspection.html" button type="govuk-link" class="govuk-button govuk-button--warning" data-module="govuk-button">
  Cancel inspection
</a></button>

    </div>
  </div>

{% endblock %}
