{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% block header %}
{{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Book a live animal inspection",
  serviceUrl: "upcoming-bookings",
  navigation: [
    {
      href: "upcoming-bookings.html",
      text: "Upcoming inspections",
      active: true
    },
    {
      href: "#2",
      text: "Manage account"
    },
    {
      href: "signed-out.html",
      text: "Sign out"
    }
  ]
}) }}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var url = window.location.pathname;
        var urlElement = document.createElement('div');
        urlElement.style.position = 'fixed';
        urlElement.style.bottom = '10px';
        urlElement.style.right = '10px';
        urlElement.style.backgroundColor = 'rgba(0,0,0,0.7)';
        urlElement.style.color = 'white';
        urlElement.style.padding = '5px 10px';
        urlElement.style.borderRadius = '5px';
        urlElement.style.fontFamily = '-apple-system, BlinkMacSystemFont';
        urlElement.style.fontSize = '11px';
        urlElement.style.zIndex = '9999';
        urlElement.innerHTML = 'Current URL: ' + url;
        document.body.appendChild(urlElement);
    });
</script>

{% endblock %}
 
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}